<script type="text/javascript">
  function callIsPrime() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if (this.readyState == 4 && this.status == 200) {
        var response = JSON.parse(this.responseText);
        document.getElementById("msg").innerHTML = response.isPrime ? "Si" : "No`" ;
      }
    };
    var newNumber = document.getElementById("number").value;
    xhttp.open("GET", "http://localhost:3333/api/Primes/isPrime?number=" + newNumber, true);
    xhttp.send();
  }
</script>

<main>
  <h1>Hola <%= email %>.</h1>
  <p>Su accessToken es: <%= accessToken %></p>
  <br/>

  <section>
      <legend>Verifique si el numero es primo</legend>
      <label for="number">Numero:</label>
      <input type="text" id="number" value=""/>
      </div>
      <input type="hidden" id="access_token" value="<%= accessToken %>"/>
      <div>
        <button onclick="callIsPrime()"> Es Primo? </button> &nbsp;&nbsp; <div id="msg"></div>
      </div>

  </section>
  <br/>
  <a href="/logout?access_token=<%= accessToken %>">Log out</a>
</main>
