<section>
  <form action="/login" method="post">
    <fieldset>
      <legend>Login</legend>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value=""/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value=""/>
      </div>
      <div>
        <input type="submit" value="Login"/>
      </div>
    </fieldset>
  </form>
</section>

<section>
  <form action="/register" method="post">
    <fieldset>
      <legend>Nuevo usuario - registro</legend>
      <div>
        <label for="name">Name:</label>
        <input type="text" name="username" value=""/>
      </div>
      <div>
        <label for="email">Email:</label>
        <input type="text" name="email" value=""/>
      </div>
      <div>
        <label for="password">Password:</label>
        <input type="password" name="password" value=""/>
      </div>
      <div>
        <input type="submit" value="Sign up"/>
      </div>
    </fieldset>
  </form>
</section>
